*{
    margin: 0;
}

body{
    font-family: 'Ubuntu', sans-serif;
}

.section-a{
    display: flex;
    padding-left: 40px;
    margin-bottom: 10px;
   
}

.section-a-child{
    margin-top: 80px;
    padding: 5%;
    width: 50%
    
}
.section-a-child img{
    width: 100%;
}

.section-b-background{
background-image: url(images/Frame\ 56.jpg);
background-position: right;
background-repeat: no-repeat;
background-size: 100%;
}

#chefimage{
    padding-top: 12%;
}

.about-us{
padding-top: 18%;
}

#headline{
    margin-top: 12%;
}

#pizza{
color: rgb(255, 187, 0);
}

h1{
    font-size: 50px;
    margin-bottom: 20px;
}

h2{
    padding-top: 3%;
    color: rgb(255, 187, 0);
    padding-bottom: 2%;
}
h3{
    color: rgb(116, 100, 0);
    text-align: center;
}

p{
    text-align: justify;
}
.order-button {
    text-decoration: none;
   background-image: linear-gradient( rgb(253, 164, 112) , rgb(255, 56, 49) );
    padding: 15px 50px;
    border-radius: 35px;
    color: snow;
    font-weight: 600;
    margin-top: 30px;
    display: inline-block;
    box-shadow: 0 0 40px rgb(185, 184, 184);

}
.order-button:hover{
    background-image: linear-gradient(rgb(254, 255, 180), rgb(194, 158, 0));
    color: rgb(255, 255, 255);

}

.pizza-items{
    text-align: center;

    margin: 2% 20%;
    margin-top: 5%;
    
    
}
.pizza-items p{
   text-align: center;
    text-align: justify;
}

.menu-pizza{
    display: flex;
    margin-bottom: 5%;
    
}

.pizza-abc{
    margin: 0 25px;
    padding: 20px;
    box-shadow: 0 0 50px rgb(160, 160, 160);
    border-radius: 20px;


}
.pizza-abc img{
    
    margin: 0 auto;
    border-radius: 20px;
    height: auto;
    width: 100%
   
    
}

.service-summary{
    width: 100%;

   
    

    
}
.service-div{
    margin-bottom: 5%;
    display: flex;
    margin-left: 8%;
    margin-right: 8%;
    border: 20px;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 0 50px rgb(177, 177, 177);
    

}
.service-pragraph{
    text-align: center;
    color: rgb(77, 77, 77);
    font-weight: 200;
}

.map-contact-box{
display: flex;
margin-left: 5%;
margin-right: 5%;


}

.checkbox{
    display: inline;
}

.feedback-box{
display: block;
margin-top: 15px;

}

.contact-map-div{


}
.contact-form{
    width: 45%;
}


footer{

    text-align: center;
    background-color: black;
    color: rgb(226, 226, 226);
    margin-top: 5%;
    height: 100px;
   padding-top: 60px;
    
}

footer p{
    text-align: center;
   
}
footer h5 {
font-size: 27px;

}