*{
    margin: 0;
}

body{
    font-family: 'Ubuntu', sans-serif;
}

.section-a{
    display: flex;
    padding-left: 40px;
    margin-bottom: 10px;
   
}

.section-a-child{
    margin-top: 80px;
    padding: 5%;
    width: 50%
    
    

}
.section-a-child img{
    width: 80%;
}

#pizza{
color: rgb(255, 187, 0);
}

h1{
    font-size: 50px;
    margin-bottom: 20px;
}

p{
    text-align: justify;
}
.order-button {
    text-decoration: none;
   background-image: linear-gradient( rgb(253, 164, 112) , rgb(255, 56, 49) );
    padding: 15px 50px;
    border-radius: 35px;
    color: snow;
    font-weight: 600;
    margin-top: 30px;
    display: inline-block;

}
.order-button:hover{
    background-image: linear-gradient(rgb(254, 255, 180), rgb(194, 158, 0));
    color: rgb(255, 255, 255);

}

.pizza-items{
    text-align: center;

    margin: 2% 20%;
    
}
.pizza-items p{
   text-align: center;
    text-align: justify;
}

.menu-pizza{
    display: flex;
    
}

.pizza-abc{
    width: 20%;
    padding: 5%;
   
}
.pizza-abc img{
    width: 5%
    height: 5%
}